video {
    width: 100%;
    height: auto;
}

i{
display: none !important;
}

.content_img{
padding: 0 20px 20px;
}

// .modal-content{
// border-radius: 100px 100px 0 0 !important;
// }
.modal-header{
border-bottom:unset !important
}