.carousel-caption a{
    text-decoration: none;
    color: white;
    font-size:70px;
   h5{
    margin:0;
   }
    :hover{
        transition: all 0.5s ease-in-out;
        color: #f3d9c9;
        border-bottom: 2px outset #f3d9c9;
        transform: scale(1.2);
        width: 200px;
        margin: auto;
}
}
.carousel-caption   p{
    font-size: 18px;
    padding-top: 10px;
}
.carousel-item img{
    filter: brightness(30%);
}
@media screen and (min-width: 768px) and (max-width: 979px){
    .carousel-caption   p{
        font-size: 18px;
        padding-top: 0;
        position: relative;
    }
    .carousel-caption{
    bottom:-0.75rem !important
}
}
@media (max-width: 767px) {
.slideShow{height: 170px;
}
.carousel-item a{
display: block;
margin:auto}

    .carousel-caption   p{
        font-size: 12px;
        width: 330px;
        padding-top: 0;
        position: relative;
        right: 28%;
    }
    .carousel-caption{
        bottom: unset !important;
        top: 78%;
  left: 50%!important;
  width: 70%;
  padding:0 8%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
}
