@import "bootstrap/bootstrap.scss";
@import "_industrial.scss";
@import "_contact.scss";
@import "_about.scss";
@import "_website.scss";


img {
    max-width: 100%;
    height: auto;
  }
  
    html body {
      background-color: #FFEFE5;
      color: #19227D;
      
    }

    .logo{
      width: 160px;
      height: auto;
    }

    .smalllogo{
      width: 150px;
 
    }
    .nav-link,.dropdown-item{
      color: #19227D !important ;
      }
      
.dropdown-menu{
  background:#FFEFE5!important;
  border: none !important;
 width: 40px;

.dropdown-item:hover{
  background-color: #FFEFE5;
}


}


  @media (max-width: 768px) { 
.content{
  padding-top: 15px;
}
.contact{
  padding-bottom: 30px;
}

.drink,.cup,.product,.can,.bag,.bee,.acrylic,.jewerly1,.jewerly2,.page1,.page2,.report{
  padding-top: 5px;
}

.perfume{
  padding-bottom: 10px;
}

.bar2{
  padding:20px 20px;
}

.custom-toggler,.navbar-toggler-icon{
  border: 0 !important;
}

}